body{
  margin: 0;
  padding: 0;
  background-color: rgb(14 12 21);
  font-family: monospace;
  color: lightgray;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 0.5px solid rgba(110,101,114,0.5);
  z-index:999;
}

.head-left{
  display: flex;
  align-items: center;
}

.head-left img{
  height: 45px;
}

header ul{
  display: flex;
  justify-content: space-between;
  width: 30%;
}

header ul li{
  list-style: none;
}

header ul li a{
  text-decoration: none;
  color: gray;
  font-weight: 900;
  font-size: 15px;
  transition: 0.3s;
}

header ul li a:hover{
  color:lightgray;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.352);
}

.head-right{
  display: flex;
  align-items: center;
}

.button-box{
    position:relative;
    width: 100px;
    height: 45px;
    margin-left: 25px;
    border-radius: 10px;
    background: linear-gradient(to right, #aa7400, #af4e0d, #c58000, #e28408,#cf7e15, #e2df11, #aa9100);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    clip-path: polygon(0 0, 82% 0, 100% 34%, 100% 80%, 100% 99%, 0 100%, 0% 80%, 0% 20%);
}

@keyframes animationGradient{
    to{
        background-position: 200%;
    }
}

.head-right button{
  position: absolute;
  inset: 3px 3px 3px 3px;
  border: none;
  background-color: rgb(14 12 21);
  color: lightgray;
  border-radius: 10px;
  clip-path: polygon(0 0, 82% 0, 100% 34%, 100% 80%, 100% 99%, 0 100%, 0% 80%, 0% 20%);
    cursor: pointer;
    transition: 0.3s;
}

.head-right button:hover{
  color: #d2b300;
}