body{
  margin: 0;
  padding: 0;
  background-color: rgb(14 12 21);
  font-family: monospace;
  color: lightgray;
}

.container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

header{
  position:absolute;
  top:0;
  left:0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border: 0.5px solid rgba(110,101,114,0.5);
  z-index:999;
}

.head-left{
  display: flex;
  align-items: center;
}

.head-left img{
  height: 45px;
}

header ul{
  display: flex;
  justify-content: space-between;
  width: 30%;
}